@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,200;1,300;1,400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    border: none;
    transition: all 0.2s linear;
    list-style: none;
    outline: none;
}

:root{
    --orange:#ffa500;
}

*::selection{
    background: var( --orange);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header  .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
}

header .logo span{
    color: var(--orange);
}

header .navbar{
    color: #fff;
    font-size: 2rem;
    margin: 0.8rem;  
}

a{
    color: rgb(158, 157, 157);
}

header .navbar a:hover{
    color: var(--orange);
}

header .icon i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icon i:hover{
    color: var(--orange);
}

header .search-bar-container{
  position: absolute;
  top: 100%; left: 0; right: 0;
  padding: 1.5rem  2rem;
  background: #333;
  border-top: .1rem solid rgb(255,255,255);
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    columns: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: var(--orange);
}

body{
    height: 200rem;

}